---
layout: base.njk
---

<header>
  <h1>{{ title }}</h1>
</header>
<main>
  <article>
    {{ content | safe }}
  </article>
  <br/>
  <hr>

  <h2>Latest Entries</h2>
  <hr>
  <br/>

  <ul class="blog-posts">
    <li>
      <time>{{"2024-03-17" | date}}</time>
      <span></span>
      <a href="#">A post of Markdown elements</a>
    </li>
    <li>
      <time>{{"2024-03-17" | date}}</time>
      <span></span>
      <a href="#">A post of Markdown elements</a>
    </li>
    <li>
      <time>{{"2024-03-17" | date}}</time>
      <span></span>
      <a href="#">A post of Markdown elements</a>
    </li>
    <li>
      <time>{{"2024-03-17" | date}}</time>
      <span></span>
      <a href="#">A post of Markdown elements</a>
    </li>
    <li>
      <time>{{"2024-03-17" | date}}</time>
      <span></span>
      <a href="#">A post of Markdown elements</a>
    </li>
  </ul>
</main>